<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DataTables-1.8.2/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        var tab = "home";
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="#">AWS + VS 2010</a></h1>
                    <p>
                        designed, coded, and implemented by <a href="http://www.freecsstemplates.org/">Adron
                            Hall</a></p>
                </div>
                <div id="menu">
                    <ul>
                        <li id="tabHome">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li id="tabBlog"><a href="http://compositecode.com/">Blog</a></li>
                        <li id="tabLinks">@Html.ActionLink("Links", "Links", "Home")</li>
                        <li id="tabContact">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end #header -->
        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">
                        @RenderBody()
                        <div style="clear: both;">
                            &nbsp;</div>
                    </div>
                    <!-- end #content -->
                    <div id="sidebar">
                        <ul>
                            <li>
                                <h2>
                                    MVC / Scaffolding / Quartz</h2>
                                <ul>
                                    <li><a href="http://compositecode.com/2011/08/16/widgetz-sql-server-db-asp-net-mvc-3-web-application-scaffolding/"
                                        rel="nofollow">MVC 3 Web Application Scaffolding</a></li>
                                    <li><a href="http://compositecode.com/2011/08/04/service-scheduler-using-topshelf-quartz-other-oss-bits-part-2/"
                                        rel="nofollow">Schedule With Quartz.NET</a></li>
                                </ul>
                            </li>
                            <li>
                                <h2>
                                    HTML5 / JavaScript</h2>
                                <ul>
                                    <li><a href="http://compositecode.com/2011/08/21/a-timepiece-of-c-and-javascript/"
                                        rel="nofollow">A TimePiece - C# & JavaScript</a></li>
                                    <li><a href="http://compositecode.com/2011/08/06/some-javascript-regex-goo-to-get-query-strings-from-your-hrefuriurl/"
                                        rel="nofollow">js + REGEX goo 4 query strings</a></li>
                                    <li><a href="http://compositecode.com/2011/08/05/html5-feature-support-detection/"
                                        rel="nofollow">HTML5 Feature Support Detection</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end #sidebar -->
                    <div style="clear: both;">
                        &nbsp;</div>
                </div>
            </div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footerz">
        <p>
            Copyright (c) 2011 Adron Hall. All rights reserved. Design, coded, and implemented
            by Adron Hall, blogging at <a href="http://compositecode.com">Composite Code</a>.</p>
    </div>
    <!-- end #footer -->
    <script language="javascript">
        $().ready(function () {
            TabNothing();

            if (tab == "links") {
                $("#tabLinks").addClass("current_page_item");
            } else if (tab == "contact") {
                $("#tabContact").addClass("current_page_item");
            } else if (tab == "nothing") {
                TabNothing();
            } else {
                $("#tabHome").addClass("current_page_item");
            }
        });

        function TabNothing() {
            $("#tabHome").removeClass("current_page_item");
            $("#tabLinks").removeClass("current_page_item");
            $("#tabContact").removeClass("current_page_item");
        }
    </script>
</body>
</html>
